# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# VSCode / Clangd index files
*.idx

# Python env
env/
.DS_Store
